<div>
  <p>Hello, Admin we have a new potential friend</p>
  <strong>Company details</strong>
  <p>Company Name: {{companyName}}</p>
  <p>Job Title: {{jobTitle}}</p>
  <p>Publisher Name: {{firstName}} {{lastName}}</p>
  <p>Company Number: {{companyPhone}}</p>
  <p>Company Email: {{companyEmail}}</p>
  <p style='color: blue'>You will receive a confirmation link. Thanks</p>
  <p>Here's a
    <a target='_blank' href={{activationLink}}>link</a>
    to activate the company's account</p>
</div>